@model PagedList.IPagedList<WebApplication_EProject.Models.Request.Stationery>
@using PagedList.Mvc

@{
	ViewBag.Title = "Stationaries Info";
}

<h2>Stationaries Info</h2>

<div>
	<button href="javascript:void(0);" class="anchorCreate btn btn-info glyphicon glyphicon-plus"
			data-toggle="tooltip" data-placement="top" title="Tạo" onclick="window.location.href='@Url.Action("Create", "Stationeries")'" />
</div>
@using (Html.BeginForm("Index", "Stationeries", FormMethod.Get))
{
	<p>
		Search: @Html.TextBox("SearchString", null, htmlAttributes: new { @class = "form-control" })
		<input type="submit" value="Find" />
	</p>
}

<div class="container">
	<h2 class="text-center">Item List</h2>
	@foreach (var item in Model)
	{
		<div class="col-md-3" style="border : 2px solid black">
			<div style="text-align: center; border-bottom : 2px solid maroon">
				<h6>@item.productName</h6>
			</div>

			<div>
				<div class="col-md-8">
					<img src="~/images/@item.productImage" width="150" height="150" />
				</div>

				<div class="col-md-4" style="text-align: left">
					<b>@item.producer</b>
				</div>
			</div>
			<div class="col-md-6" style="text-align: left; border-top: 2px solid maroon; padding: 2px">
				<td>
					<button href="javascript:void(0);" data-id="@item.productID" class="anchorDetail btn btn-info glyphicon glyphicon-info-sign"
							data-toggle="tooltip" data-placement="top" title="Details" onclick="window.location.href='@Url.Action("Details", "Stationeries", new { id = item.productID })'" />
				</td>
			</div>
			<div class="col-md-6" style="text-align: right; margin-bottom: 10px; border-top: 2px solid maroon; padding: 2px ">
				<td>
					<button href="javascript:void(0);" data-id="@item.productID" class="anchorEdit btn btn-warning glyphicon glyphicon-edit"
							data-toggle="tooltip" data-placement="top" title="Edit" onclick="window.location.href='@Url.Action("Edit", "Stationeries", new { id = item.productID })'" />
				</td>

				<td>
					<button href="javascript:void(0);" data-id="@item.productID" class="anchorDelete btn btn-danger glyphicon glyphicon-trash"
							data-toggle="tooltip" data-placement="top" title="Delete" onclick="window.location.href='@Url.Action("Delete", "Stationeries", new { id = item.productID })'" />
				</td>
			</div>
		</div>
	}

</div>

<br />
Page: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount @Html.PagedListPager(Model, Page_No
=> Url.Action("Index", new { Page_No }))
